<!doctype html>
<html lang="en">
<head>
    <title>Driver Page</title>
</head>

<frameset cols="300px,*" border="0">
    <frame src="/driver_left" name="driver_left">
    <frame src="/driver_right" name="driver_right">
</frameset>

<body>

</body>
</html>