<!doctype html>
<html lang="en">
<head>
    <title>Driver Page</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
</head>

<frameset cols="240px,*" border="0">
    <frame src="/driver_left" name="driver_left">
    <frame src="/driver_right" name="driver_right">
</frameset>

<body>

</body>
</html>