<!doctype html>
<html lang="en">
<head>
    <title>Driver Page Left</title>
    <link rel='stylesheet' href='/stylesheets/common.css' />
    <link rel='stylesheet' href='/stylesheets/driver_right_stylesheet.css' />
</head>
<body>
    Chat Window here
</body>
</html>