<!doctype html>
<html lang="en">
<head>
    <title>Technician Page</title>
</head>

<frameset cols="300px,*" border="0">
    <frame src="/tech_left" name="tech_left">
    <frame src="/tech_right" name="tech_right">
</frameset>

<body>

</body>
</html>