<!doctype html>
<html lang="en">
<head>
    <title>Technician Page Left</title>
    <link rel='stylesheet' href='/stylesheets/tech_left_stylesheet.css' />
    <script src="https://kit.fontawesome.com/4b480dd900.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="left-banner">
    <div class="user-welcome">
        <h id="left-top-icon">
            <img src="/images/RoadsideAssistanceIcon01.png" alt="" />
        </h>
        <div class="user-name">
            <i class="fa-solid fa-user"></i>
            <span> Username: <%= userName %></span>
        </div>
        <div class="user-id">
            <i class="fa-solid fa-address-card"></i>
            <span>ID: <%= userId %></span>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li class="menu-service">
                <div class="menu-head">
                    <i class="fa-solid fa-screwdriver-wrench"></i>
                    <span>SERVICE</span>
                </div>
                <ul>
                    <li class="menu">
                        <i class="fa-solid fa-screwdriver-wrench"></i>
                        <a href="/tech_active_request" target="tech_right" style="text-decoration: none;">ACTIVE REQUEST</a>
                    </li>
                </ul>
            </li>
            <li class="menu-history">
                <div class="menu-head">
                    <i class="fa-solid fa-clock-rotate-left"></i>
                    <a href="/tech_history" target="tech_right" style="text-decoration: none;">HISTORY</a>
                </div>
            </li>
        </ul>
    </div>
    <form id="logoutForm" action="/logout" method="GET">
        <button type="button" class="sign-out" onclick="submitLogoutForm()">Log out</button>
    </form>
</div>
</body>
<script>
    function submitLogoutForm() {
        document.getElementById('logoutForm').submit();
        window.top.location.href = '/logout';
    }
</script>
</html>