<!doctype html>
<html lang="en">
<head>
    <title>Technician Page Left</title>
    <link rel='stylesheet' href='/stylesheets/tech_right_stylesheet.css' />
</head>
<body>
<div class="right-banner">
    <img src="/images/GuyWithHelmetIcon01.png" alt="">
    <h1>WELCOME TO THE ROADSIDE ASSISTANCE SERVICE CENTER!</h1>
</div>
</body>
</html>