body {
    font-family: Arial, sans-serif;
    position: relative;
}

.right-banner-newRequest {

}

.container {
    display: inline-block;
}

.container:first-child {
    position: absolute;
    margin-top: 5px;
}

.container:last-child > img {
    position: absolute;
    height: 300px;
    width: auto;
    margin-top: 100px;
    margin-left: 500px;
}

.dialog-footer span, .dialog-footer button {
    width: 60px;
    height: 30px;
    padding: 6px 5px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.dialog-footer > button {
    background-color: gray;
    color: #ffffff;
}

.alert-error {
    position: absolute;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    height: 30px;
    width: 300px;
    background-color: #cc3300;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    border-radius: 12px;
}

.alert-success {
    position: absolute;
    left: 50%;
    margin-top: 10px;
    transform: translateX(-50%);
    height: 30px;
    width: 300px;
    background-color: #00B7FF;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    border-radius: 12px;
}
