body {
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.content >  * {
    margin-top: 10px;
}

#container-title {
    font-weight: bold;
    font-size: 23px;
}

.container div:first-child {
    border-bottom: 4px solid gray;
}

.driver-info span:last-child {
    margin-left: 30px;
}

.container div:nth-child(2) {
    margin-top: 10px;
}

.table-active {
    width: 100%;
    text-align: center;
}

.table-active thead tr {
    height: 40px;
}

.table-active th {
    text-align: center;
}

.table-active > tbody > tr > td {
    line-height: 25px;
    border-bottom: 2px solid gray;
}
