body {
    background: gray;
    font-family: Arial, sans-serif;
}

.left-banner {
    background-color: white;
}

.left-banner {
    background-color: white;
}

.user-welcome {
    display: grid;
    border: none;
    overflow: hidden;
    border-bottom: 2px solid gray;
}

.user-welcome h {
    margin: 0px;
}

.user-welcome > div {
    overflow: hidden;
    padding-bottom: 10px;
    padding-left: 10px;
}

#left-top-icon {
    display: block;
    margin-left: 30px;
    top: -20px;
}

.menu-service > ul > li {
    margin-top: 20px;
}

.nav > ul > li {
    padding: 20px 0;
    cursor: pointer;
}

.sign-out {
    position: absolute;
    bottom: 10px;
    margin-left: 15px;
    height: 30px;
    width: 80%;
    border-radius: 12px;
    padding-top: 7px;
    text-align: center;
    color: white;
    background: #cc3300;
    cursor: pointer;
}